section.content
	.our-work
		.our-work-label
		.our-work-title Our work is the presentation <br>
						| of our capabilities. 
		.our-work-desc
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						|Magni aperiam fuga, excepturi obcaecati atque
						| ea sit iusto qui, quisquam facere.<br>
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						|Magni aperiam fuga, excepturi obcaecati atque ea sit iusto qui, quisquam facere.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						|Magni aperiam fuga, excepturi obcaecati atque
						| ea sit iusto qui, quisquam facere.<br>
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						|Magni aperiam fuga, excepturi obcaecati atque ea sit iusto qui, quisquam facere.
	ul.tabs
		li
			a(href="#").tab-simple
				span 1
				span Simple
		li
			a(href="#").tab-transparent
				span 2
				span Transparent
		li
			a(href="#").tab-collaborative
				span 3
				span Collaborative
	.booking
		+icon('eyeglasses')
		.booking-text
			.booking-title Browse projects, like booking a hotel online !
			.booking-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						|Explicabo error accusamus, a veritatis voluptatem, reprehenderit accusantium ratione
						|incidunt fugit facere quisquam sapiente consequatur mollitia numquam.
						|Sint facilis perferendis soluta, rem!
	.projects-buyers-box
		.projects
			.projects-pict-1
			.projects-text
				.projects-title Find Projects
				.projects-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							|Necessitatibus minima a perspiciatis.
				a(href="#").btn.btn-projects Become A Member
		.buyers
			.projects-pict-2
			.projects-text
				.buyers-title Find Buyers
				.buyers-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							|Corrupti corporis nobis debitis accusamus placeat.
				a(href="#").btn.btn-buyers Submit Your Project
	.feature_projects
		.feature_projects-title Feature Projects
		.feature_projects-desc
			span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, sunt ipsum dolor sit amet, consectetur.
			a(href="#").btn.becom_member Become a Member
		.card-box
			.card.card-left
				.card-photo
					+icon('rectangle')
					.photo-1
					.new
						span new
					.price From GBP 3600
				.card-text
					.card-title
						span Ontario Tower,
						span London
					.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, tempore!
					input(type="range" min="0" max="100" value="20").days-range
					.range-desc
						span 100% Founded
						span 8 Days Left
					.project-ditails-box
						a(href="#").project-ditails See Project Details
						+icon('tryangle')
			.card.card-middle
				.card-photo
					+icon('rectangle')
					.photo-2
					.new
						span new
					.price From GBP 3600
				.card-text
					.card-title
						span Ontario Tower,
						span London
					.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, tempore!
					input(type="range" min="0" max="100" value="20").days-range
					.range-desc
						span 100% Founded
						span 8 Days Left
					.project-ditails-box
						a(href="#").project-ditails See Project Details
						+icon('tryangle')
			.card.card-right
				.card-photo
					+icon('rectangle')
					.photo-3
					.new
						span new
					.price From GBP 3600
				.card-text
					.card-title
						span Ontario Tower,
						span London
					.card-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, tempore!
					input(type="range" min="0" max="100" value="20").days-range
					.range-desc
						span 100% Founded
						span 8 Days Left
					.project-ditails-box
						a(href="#").project-ditails See Project Details
						+icon('tryangle')
	.community
		.community-pict
			.community-title Be Part of a Growing International Community
			.community-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, doloremque.
			.community-member
				.commit-box.commit-box-1
					.member-commit
						.member-commit-title One of the Best
						.member-commit-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, illo.
					.member-box
						.member-box-1
							.member-photo-1
							.member-name David Beckham
				.commit-box
					.member-commit
						.member-commit-title Exelent Service
						.member-commit-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, illo.
					.member-box
						.member-box-2
							.member-photo-2
							.member-name David Beckham
