section.header
	.header-container
		.header_logo
			img(src="../static/img/content/logo.png" width="211" height="36" alt="logo").logo
		ul.header_menu
			li
				a(href="#") Home
			li
				a(href="#") How it works
			li
				a(href="#") Descover project
			li
				a(href="#") Blog
			li
				a(href="#") Find out more
		.header_login
			a(href="#") Login
	.sandwich-menu
		span.sandwich-menu-top
		span.sandwich-menu-middle
		span.sandwich-menu-bottom
	include ../modules/slider