section.slider
	.slider-container
		.slide.slide-1.showed
		.slide.slide-2
		.slide.slide-3
		.slide.slide-4
		.slider-desc
			h1 Intellectual Property has the Shelf Life
			h2 of a Banana.
			a(href="#").btn-member Become a Member
		.slider-arrow
			.slider-arrow-left
				+icon('chevron','chevron-left')
			.slider-arrow-right
				+icon('chevron','chevron-right')