section.footer
	padding 60px 110px 26px
	
.logotypes-container
	margin-bottom 28px
	border-bottom 1px solid footerLineColor

.logotypes
	margin 0 auto
	margin-bottom 45px
	size(1028px,45px)
	background url('../img/content/logotypes.jpg') 0 0 no-repeat
	background-size cover
	
.copyright
	color descColor
	font-family mainFount
	font-size rem(16)
	line-height 1.5
	text-align center