section.header
	width 100%
	max-width 1300px
	margin 0 auto

.header-container
	width 100%
	max-width 1025px
	margin 0 auto
	padding 21px 0 28px
	display flex
	justify-content space-between
	flex-wrap wrap
	align-items flex-end

.header_logo>img
	size(210px, 36px)
	margin-right 99px
	
/*Sandwich menu*/

.sandwich-menu
	position relative
	display none
	width 41px
	height 38px
	margin 10px
	border 1px solid menuColor
	border-radius 5px
	cursor pointer
	
	& span
		position absolute
		display block
		width 70%
		height 4px
		background-color menuColor
		border-radius 2px
		opacity 1
		transition all 0.5s
		
	& span:last-child
		margin-bottom 0
		
	.sandwich-menu-top
		top 6px
		left 6px
	.sandwich-menu-middle
		top 16px
		left 6px
	.sandwich-menu-bottom
		top 26px
		left 6px

	&.active
		.sandwich-menu-top
			opacity 0
		.sandwich-menu-middle
			top 16px
			left 6px
			transform rotate(44deg)
		.sandwich-menu-bottom
			top 16px
			left 6px
			transform rotate(-45deg)


/*Sandwich menu end*/

ul.header_menu
	display flex
	justify-content space-between
	flex-wrap wrap
	margin-right 75px
	
	li
		margin-right 30px
		
		a
			display block
			color menuColor
			font-family navFount
			font-size rem(13)
			text-transform uppercase
			
.header_login a
	display block
	padding 13px 27px
	border-radius 26px
	background-color battonColor
	color #fff
	font-size rem(13)
	font-family navFount
	text-transform uppercase
	
/* Slider */

/*.slider
	position relative
	display inline-block
	text-align center
	width 100%
	max-width 1300px
	height 570px
	margin-bottom 100px
	background url('../img/content/banner-1.jpg') 0 0 no-repeat
	background-size cover
	
.slider-desc
	display inline-block
	text-align center
	transform translateY(50%)
	line-height 1.3

	h1
		margin-bottom 39px
		color #fff
		font-size rem(45)
		font-family navFount

	h2
		margin-bottom 59px
		color #fff
		font-size rem(35)
		font-family navFount
	
.btn-member
	display inline-block
	padding 30px 40px
	border-radius 9px
	background-color battonSliderColor
	color #fff
	font-size rem(20)
	font-family navFount
	
.slider-arrow-left,
.slider-arrow-right
	display inline-block

.icon-chevron
	size(13px,20px)
	fill #fff
	cursor pointer

.chevron-left
	transform scale(-1, 1)
	
.slider-arrow
	position absolute
	bottom 55px
	right 135px
	
.slider-arrow-left
	margin-right 32px*/
	
