section.header
	width 100%
	max-width 1300px
	margin 0 auto

.header-container
	width 100%
	max-width 1025px
	margin 0 auto
	padding 21px 0 28px
	display flex
	justify-content space-between
	flex-wrap wrap
	align-items flex-end

.header_logo>img
	size(210px, 36px)
	margin-right 99px
	
/*Sandwich menu*/

.sandwich-menu
	position relative
	display none
	width 41px
	height 38px
	margin 10px
	border 1px solid menuColor
	border-radius 5px
	cursor pointer
	
	& span
		position absolute
		display block
		width 70%
		height 4px
		background-color menuColor
		border-radius 2px
		opacity 1
		transition all 0.5s
		
	& span:last-child
		margin-bottom 0
		
	.sandwich-menu-top
		top 6px
		left 6px
	.sandwich-menu-middle
		top 16px
		left 6px
	.sandwich-menu-bottom
		top 26px
		left 6px

	&.active
		.sandwich-menu-top
			opacity 0
		.sandwich-menu-middle
			top 16px
			left 6px
			transform rotate(44deg)
		.sandwich-menu-bottom
			top 16px
			left 6px
			transform rotate(-45deg)


/*Sandwich menu end*/

ul.header_menu
	display flex
	justify-content space-between
	flex-wrap wrap
	margin-right 75px
	
	li
		margin-right 30px
		
		a
			display block
			color menuColor
			font-family navFount
			font-size rem(13)
			text-transform uppercase
			
.header_login a
	display block
	padding 13px 27px
	border-radius 26px
	background-color battonColor
	color #fff
	font-size rem(13)
	font-family navFount
	text-transform uppercase
	
