/* Slider Lavric*/

.slider-container
	position relative
	width 100%
	max-width 1300px
	height 570px
	margin-bottom 100px
	text-align center

.slide
	position absolute
	width 100%
	max-width 1300px
	height 570px
	opacity 0
	transition opacity 1s
	
.showed
	opacity 1

.slide-1
	background url('../img/content/slide-1.jpg') 0 0 no-repeat
	background-size cover
	
.slide-2
	background url('../img/content/slide-2.jpg') 0 0 no-repeat
	background-size cover
	
.slide-3
	background url('../img/content/slide-3.jpg') 0 0 no-repeat
	background-size cover
	
.slide-4
	background url('../img/content/slide-4.jpg') 0 0 no-repeat
	background-size cover

.slider-desc
	display inline-block
	text-align center
	transform translateY(50%)
	line-height 1.3

	h1
		margin-bottom 39px
		color #fff
		font-size rem(45)
		font-family navFount

	h2
		margin-bottom 59px
		color #fff
		font-size rem(35)
		font-family navFount
	
.btn-member
	display inline-block
	padding 30px 40px
	border-radius 9px
	background-color battonSliderColor
	color #fff
	font-size rem(20)
	font-family navFount
	
.slider-arrow-left,
.slider-arrow-right
	display inline-block

.icon-chevron
	size(13px,20px)
	fill #fff
	cursor pointer

.chevron-left
	transform scale(-1, 1)
	
.slider-arrow
	position absolute
	bottom 55px
	right 135px
	
.slider-arrow-left
	margin-right 32px
	