@font-face {
			font-family: "Montserrat-Bold";
			src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
			src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
			url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "Montserrat-Regular";
			src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
			src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
			url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "OpenSans-Bold";
			src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
			src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
			url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "OpenSans-SemiBold";
			src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot");
			src: url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff") format("woff"),
			url("../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
@font-face {
			font-family: "OpenSans-Light";
			src: url("../fonts/OpenSans-Light/OpenSans-Light.eot");
			src: url("../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"),
			url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "OpenSans-Regular";
			src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
			src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
			url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}