@media screen and (max-width: 1090px)
	.header-container
		padding 21px 10px 28px
		
	.header_logo>img
		margin 0 10px 0 0
		
	ul.header_menu
		margin-right 10px
		
	ul.tabs
		li
			a
				padding-left 73px

@media screen and (max-width: 965px)
	section.content
		padding 0 10px 0
		
	ul.tabs
		justify-content space-around
		
	.our-work-desc
		margin-bottom 20px
		p:first-child
			margin-bottom 20px
		
@media screen and (max-width: 965px)
	.card-box
		justify-content space-around
		
	.card.card-left,
	.card.card-middle,
	.card.card-right
		margin-top 15px
		
@media screen and (max-width: 907px)
	.header_login
		margin-top 20px

@media screen and (max-width: 898px)
	.booking
		margin 0 auto 10px

	.icon-eyeglasses
		margin-bottom 20px
		
	.becom_member
		margin-top 10px
		
	.projects-buyers-box
		margin-bottom 20px

@media screen and (max-width: 785px)
	ul.tabs
		li
			margin 20px

	ul.tabs
		li
			a:hover
				&:after
					display none
					
@media screen and (max-width: 687px)
	.projects,
	.buyers
		padding 47px 30px 47px 30px

	ul.header_menu
		li
			margin-top 15px
			

@media screen and (max-width: 677px)
	.slider
		margin-bottom 20px

	.our-work-label
		margin 0 auto 5px
		
	.our-work-title
		margin-bottom 20px
		line-height 1.5
		
@media screen and (max-width: 592px)
	.header_login
		margin-top 0

	.sandwich-menu
		position relative
		display block
		
	ul.header_menu
		position absolute
		bottom 0px
		right 0
		margin 0
		display none
		width 100%
		z-index 2
		
		li
			display block
			margin 0
			padding 23px 23px 22px
			background-color battonSliderColor

			&:hover
				background-color buttonBuyersColor
			
			a
				color #fff
				font-family navFount
				font-size rem(14)
				

@media screen and (max-width: 566px)
	.projects-pict-1,
	.projects-pict-2
		margin-bottom 20px
		margin-right 10px

@media screen and (max-width: 529px)
	ul.tabs
		display flex
		flex-direction column
		align-items flex-start
		
	.projects,
	.buyers
		padding 15px 20px 15px 20px
		
	.feature_projects-desc
		margin-bottom 20px
		
@media screen and (max-width: 351px)
	.header_logo
		margin-bottom 20px

