// ЦВЕТА
battonColor = #bcda5c
battonSliderColor = #99c50a
menuColor = #989898
paragraphColor = #515151
descColor = #8c8c8c
pointColor = #5f5f5f
hoverPointColor =#add136
underlineColor = #e6e6e6
pointTitleColor = #656565
propertiesColor = #e2f8ff
buyersColor = #f5f9eb
buttonPropertiesColor = #26a6d1
buttonBuyersColor = #add136
cardTitleColor = #484848
cardBorderColor = #e5e5e5
cardBoxColor = #fafafa
rangeDescColor = #a3a3a3
projectDitailsColor = #797979
footerLineColor = #ededed

// РАЗМЕРЫ


// ШРИФТЫ

mainFount = "OpenSans-Regular"
navFount = "OpenSans-SemiBold"
lightFount = "OpenSans-Light"
monsFount = "Montserrat-Regular"